.DS_Store
*~

# files for the build
/bin

# how to point to processing.core
/local.properties

# ignore the sdk download files
javafx-*.zip

# everything is downloaded from online
/library

# the build files
/dist
